- @posts.each do |post|
  .row
    .card
      .card-header
        = post.user.full_name
      .card-body
        %p
          = post.message
        .card-link
          .tweet-text
            .post-btns
              %span.likes-count
                = post.get_upvotes.size
              |
              = has_user_liked(post)
              |
              = link_to '', edit_post_path(post), class: 'far fa-edit'
              |
              = link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'far fa-trash-alt'
            .post-time.text-muted
              = formatted_time(post)