- @tweets.each do |tweet|
  .row
    .card.spacer
      .card-body
        .card-title
          = tweet.created_at
        %p
          = tweet.message
        .card-link
          = tweet.likes
          = link_to '', like_tweet_path(tweet), class: 'test i far fa-heart'
          %br
          = link_to 'Edit', edit_post_path(tweet)
          |
          = link_to '', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'i far fa-trash-alt'