= simple_form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .row
    = f.input :message
  .row
    = f.collection_select :user_id, User.all, :id, :first_name
  .row
    = f.button :submit, class: 'btn btn-primary btn-sm'
    = link_to 'Back', root_path, class: 'btn btn-secondary btn-sm'
